<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <div th:replace="fragments/header :: header-css"/>
    <meta charset="UTF-8"/>
    <title>Courseware application</title>
</head>
<body>
<div th:replace="fragments/header :: body"/>

<div class="container my-2">
    <h1>Topic list</h1>
    <a th:href="@{/education_courses-add}" class="btn btn-primary btn-sm mb-3"> Add Topic </a>
    <table border="1" class="table table-striped table-responsive-md">
    <thead>
        <tr>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="element : ${listEducationCourses}">
                <td th:text="${element.topic}"></td>
                <td th:text="${element.description}"></td>
                <td th:text="${element.teacher.user.firstName} ${element.teacher.user.lastName}"></td>
                <td th:text="${element.startDate}"></td>
                <td th:text="${element.duration}"></td>
                <td th:text="${element.startDate}"></td>
                <td> <a th:href="@{/education_courses-edit/{id}(id=${topic.id})}" class="btn btn-primary">Update</a>
                    <a th:href="@{/education_courses-delete/{id}(id=${topic.id})}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div th:replace="fragments/footer :: body"/>
</body>
</html>